@import "variables.scss";

.App{
    background: url("/public/images/parchment-edited.png");
    background-size: cover;
    background-repeat: repeat;
}

.new-char-sheet{
    display:flex;
    justify-content: center;
    margin: 1em;

    .new-char-form-container{
        width: 75rem;
        height: 34.375rem;
        }
    .character-img{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
        margin-top: 5px;
        padding: 15px;
        
    
        }
    form{
        align-self: center;
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-left: 3px solid red;
        border-right: 3px solid red;
    
    }
    
    label{
        margin: 5px;
    }
    .trait-drive-quirk-div{
        margin-top: 3px;
        margin-bottom: 3px;
        padding: 15px;
        margin-left: 10px;
        align-self: center;
    }

    .traits-group{
        text-align: left;
    }
    .drive-group{
        text-align: left;
    }
    .quirks-group{
        text-align: left;
    }


}
.navbar{
    opacity: .4;
    background: /* gradient can be an image */
    linear-gradient(
      to left, 
      white 0%,
      rgb(29, 29, 29) 50%,
      white 100%
    )

    left 
    bottom
    #777    
    no-repeat; 

 a{
    color: black;
 }
}

.character-modal{
    width: 75rem;
    height: 34.375rem;
    ;

    @media screen and (max-width: '320px'){

    }
    @media screen and (max-width: '1024px'){

    }
}

.row{
    justify-content: center;
}

h3{
    color:  rgb(119, 118, 118);
}
.character-card-main{
    background-color: rgba(0, 0, 0, 0, 0.5);
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.character-modal{
    .modal-header{
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        display:flex;
        justify-content: center;

    }
    .modal-div{

        margin-top: 1rem;
    }
    #modal-trait-div{
        margin-top: 0px;
    }

    h4{
        text-align: center;
        background-image: linear-gradient(
            to left, 
            white 0%,
            rgb(70, 70, 70) 50%,
            white 100%
          );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .modal-btn-div{
        display:flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 1rem;
    }

    .border-div {
        text-align:center;
        padding-bottom:5px;
        background: /* gradient can be an image */
          linear-gradient(
            to left, 
            white 0%,
            red 50%,
            white 100%
          )
          left 
          bottom
          #777    
          no-repeat; 
        background-size:100% 5px ;/* if linear-gradient, we need to resize it */
      }
}


